.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #125B50;
    padding: 20px;
    width: 100%;
    bottom: 0;
    left: 0;
    & img{
        width: 100px;
        height: 100px;
        @include breakpoint (sm){
            width: 50px;
            height: 50px;
        }
    }
    & a{
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 2px 2px 2px black;
    }
    & .social__media{
        img{
            width: 50px;
            height: 50px;
            @include breakpoint (sm){
                width: 30px;
                height: 30px;
                margin: 5px;
            }
        }
    }
}