/* Introduction */

.introduccion__conteiner {
    height: 100vh;
    scroll-margin-top: 100px;
    margin: 10px;
    flex-direction: column;
    margin-bottom: 100px;
    @include large{
        height: auto;
        width: 100vw;
        scroll-margin-top: 100px;
        margin: 0px;
        display: flex;
        box-sizing: border-box;
        margin-bottom: 100;
    }

    /* Sección de la introducción */
    .section__introduction {
        width: 100%;
        height: auto;
        margin: 30px 0 40px 0px;
        box-shadow: -1px 1px 19px 9px rgba(62, 62, 62, 0.51);
        -webkit-box-shadow: -1px 1px 19px 9px rgba(62, 62, 62, 0.51);
        -moz-box-shadow: -1px 1px 19px 9px rgba(62, 62, 62, 0.51);
        @include large{
            width: 100vw;
            height: auto;
            display: block;
            margin-bottom: 10px;
        }

        .section-info {
            display: flex;
            align-items: center;
            box-shadow: -1px 1px 19px 9px rgba(62, 62, 62, 0.51);
            -webkit-box-shadow: -1px 1px 19px 9px rgba(62, 62, 62, 0.51);
            -moz-box-shadow: -1px 1px 19px 9px rgba(62, 62, 62, 0.51);
            @include large{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            

            & img {
                width: 500px;
                height: 300px;
                @include large{
                    width: 100vw;
                    height: auto;
                }
            }

            & p {
                margin: 40px;
                @include large{
                    margin: 1 1 5 1;
                    font-size: 10px;
                    width: 90%;
                }
            }
        }
    }

    /* Section more */
    .section__more {
        width: 100%;
        height: auto;
        margin: 30px 0 40px 0px;
        box-shadow: -1px 1px 19px 9px rgba(62, 62, 62, 0.51);
        -webkit-box-shadow: -1px 1px 19px 9px rgba(62, 62, 62, 0.51);
        -moz-box-shadow: -1px 1px 19px 9px rgba(62, 62, 62, 0.51);
        @include large{
            height: auto;
            width: 100%;
            display: block;
        }

        .section-info {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            padding: 10px;
            @include large{
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            & img {
                width: 500px;
                height: 300px;
                @include large{
                    width: 100vw;
                    height: auto;
                }
            }

            & p {
                margin: 40px;
                @include large{
                    margin: 1 1 5 1;
                    font-size: 10px;
                    width: 90%;
                }
            }

        }
    }
}