h1,
h2,
h3,
h4,
h5 {
    font-family: $font-main;
    font: $font-p-w;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.h__title {
    font-family: $font-main;
    font: $font-title-w;
    font-size: 40px;
}


.p__text {
    font: $font-p-w;
    font-size: 15px;
}