$bg-color-general: black;

/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Playfair+Display:wght@500&family=Secular+One&display=swap');

/* Font family */
$font-main: 'Secular One', sans-serif;
$font-subt: 'Caveat', cursive;
$font-text: 'Playfair Display', serif;
/* Font width title */
$font-title-w: 400;
/* Font width paragraph */
$font-p-w: 400;

/* Colores */
$color-orange: #F8B400;