$bg-color-general: black;

/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@200&display=swap');

$main-font: 'Poppins', sans-serif;
$fnt-normal: 200;
$fnt-bold: 300; 

/* Colores */
$color-orange: #F8B400;