$bg-color-general: black;

/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* Font family */
$font-main: 'Roboto', sans-serif;
/* Font width title */
$font-title-w: 400;
/* Font width paragraph */
$font-p-w: 300;

/* Colores */
$color-orange: #F8B400;